* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg/bg-mobile-light.jpg);
  --bg: rgba(0, 0, 0, 0.4);
  --border-color: rgba(255, 255, 255, 0.5);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: white;
  --bg-url: url(./assets/bg/bg-mobile-dark.jpg);
  --bg: rgba(0, 0, 0, 0.4);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

body * {
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 10px auto 0px;
  padding: 0 24px;

  background: var(--bg);
  text-align: center;
}

#profile {
  text-align: center;
  padding: 24px;
}

/* Profile */
#profile img {
  width: 120px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

#profile h2 {
  font-weight: 500;
  margin: 12px 0;
}

/* Switch */
#switch {
  width: 64px;
  position: relative;

  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  animation: slide-out 0.2s;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

.light #switch button {
  animation: slide-in 0.4s forwards;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

#about {
  text-align: center;
  padding: 5px;
  font-size: 20px;
}

#about p {
  font-weight: 400;
  margin-top: 10px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.flex img {
  width: 25px;
}

/* Links */
ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 16px 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;
  transition: background .2s;
}

ul li a h2 {
  font-weight: 500;
  margin: 8px 0;
  text-align: center;
}
ul li a p {
  text-align: center;
  margin-bottom: 8px;
}

/* Pseudo-selector */
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

#fb {
  background-image: linear-gradient(to right, #0442bf40, #2458bf40, #7999d940, #f2f2f240, #ffffff40);
}

#insta {
  background-image: linear-gradient(to right, #f25c0540, #f2a00740, #d71b6040, #7f24a640, #4429f240);
}

#tik {
  background-image: linear-gradient(to right, #f2050540, #f2e31640, #07f21740, #0511f240, #ee05f240);
}

#zap {
  background-image: linear-gradient(to right, #0f262640, #28595940, #22bf0a40, #1fa60a40, #f2f2f240);
}

#email {
  background-image: linear-gradient(to right, #4286f440, #c5221c40, #ea413540, #fabb0040, #35a85440);
}

/* Social Links */
#social-links {
  display: flex;
  justify-content: center;

  padding: 8px 0;

  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
}

#social-links #fbicon:hover {
  background-image: linear-gradient(to right, #0442bfae, #2458bfae, #7999d9ae, #f2f2f2ae, #ffffffae);
}

#social-links #instaicon:hover {
  background-image: linear-gradient(to right, #f25c05ae, #f2a007ae, #d71b60ae, #7f24a6ae, #4429f2ae);
}

#social-links #tiktokicon:hover {
  background-image: linear-gradient(to right, #f20505ae, #f2e316ae, #07f217ae, #0511f2ae, #ee05f2ae);
}

#social-links #zapicon:hover {
  background-image: linear-gradient(to right, #0f2626ae, #285959ae, #22bf0aae, #1fa60aae, #f2f2f2ae);
}

#social-links #emailicon:hover {
  background-image: linear-gradient(to right, #4286f4ae, #c5221cae, #ea4135ae, #fabb00ae, #35a854ae);
}

#done {
  padding: 5px;
  margin-bottom: 10px;
}

/* Media queries */
@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg/bg-desktop-dark.jpg)
  }

  .light {
    --bg-url: url(./assets/bg/bg-desktop-dark.jpg)
  }
}

@media (min-width: 580px) {
  #container {
    border-radius: 10px;
  }
}

/* Animation */
@keyframes slide-in {
  from {
    left: 0;
  }

  to {
    left: 50%;
  }
}

@keyframes slide-out {
  from {
    left: 50%;
  }

  to { 
    left: 0;
  }
}